body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이를 100%로 설정 */
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


#main-container {
    display: flex;
    justify-content: center;
    margin: auto;
    
}

#player-container {
    width: 507.5px;
    background: linear-gradient(179.99deg, #1A1B24 0.03%, rgba(0, 0, 0, 0.65) 130.98%);
    padding-top: 142px;
    margin: 0px;
    height: 100%;
    padding-bottom: 6px;
    border-radius: 19px;
}

h2 {
    font-family: Gothic A1;
    font-size: 36px;
    font-weight: 900;
    line-height: 45px;
    color: rgba(255, 255, 255, 1);
    margin-top: 59px;
    margin-left: 82px;
}

#player-profile {
    width: 178px;
    height: 178.13px;
    border-radius: 100px;
    margin-top: 55px;
    margin-left: 167px;
}

#player-information {
    margin-top: 54.87px;
    text-align: center;
}

h4 {
    font-family: Gothic A1;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
}

#change-profile {
    text-decoration: none;
    font-family: Gothic A1;
    font-size: 14px;
    font-weight: 900;
    line-height: 17.5px;
    color: rgba(255, 255, 255, 1);
}

#buttons {
    margin-top: 64px;
}

#button-detail {
    width: 384px;
    height: 57px;
    margin-left: 73px;
    margin-bottom: 11px;
    text-align: left;
    font-family: Gothic A1;
    font-size: 15px;
    font-weight: 700;
    line-height: 18.75px;
    background: rgba(85, 85, 85, 1);
    border-color: rgba(85, 85, 85, 1);
    color: rgba(255, 255, 255, 1);
}

#button-detail:hover {
    background: rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 1);
}



#classes {
    width: 1112.5px;
    margin-top: 142px;
}

h3 {
    font-family: Gothic A1;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    margin-top: 123px;
    margin-left: 21.5px;
}


#content-box {
    width: 1140px;
    margin-right: 123px;
    margin-bottom: 244px;
  }

#lecture-card {
    width: 1140px;
    height: 202px;
    display: flex;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  }


#lecture-img {
    width: 220px;
    height: 125px;
    border-radius: 9px;
    margin-left: 18px;
    margin-top: 35px;
}

  
#content-box {
    width: 1140px;
    margin-right: 123px;
    margin-bottom: 244px;
}
  
#lecture-card {
    width: 943px;
    height: 196px;
    border-radius: 12px;
    display: flex;
    background: rgba(217, 217, 217, 0.54);
    margin-left: 21.5px;
}

#explains {
    margin-top: 83px;
    margin-left: 32px;
    width: 875px;
  }

#title {
    font-family: Gothic A1;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

#substance {
    display: flex;
    justify-content: space-between;
  }


.button-design {
    width: 112px;
    height: 30px;
    background-color: rgba(62, 62, 62, 1);
    border-color: rgba(62, 62, 62, 1);
    border-radius: 19px;
    font-size: 12px;
    margin-top: 2px;
    margin-right: 32px;
}

span {
    font-family: Gothic A1;
    font-size: 13px;
    font-weight: 300;
    line-height: 16.25px;
}
