body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이를 100%로 설정 */
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#main-container {
    display: flex;
    margin-top: 130px;
    margin-left: 82px;
}

#image {
    width: 725px;
    height: 760px;
    background: rgba(18, 18, 18, 1);
    background-image: url(../img/mainBanners/login_banner.png);
    border-radius: 15px;
}

#information {
    margin-left: 91px;
}

#information > h1 {
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin-top: 7px;
}

#text-group {
    display: flex;
}

p {
    color: white;
    font-size: 20px;
    margin: 0;
}

#logotext {
    color: rgb(24, 160, 251);
}

#text-group {
    margin-bottom: 2px;
}



form {
    width: 577px;
}

input {
    width: 577px;
    height: 72px;
}

form > p {
    margin-top: 60px;
    margin-bottom: 16px;
}

#login-move {
    text-decoration: none;
    color: rgba(140, 122, 179, 1);
}



#button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;

}

img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    margin-right: 16px;
}


#finsh-button {
    width: 172px;
    height: 52.08px;
    background: rgba(118, 119, 154, 1);
    border-radius: 25px;
    border-color: rgba(118, 119, 154, 1);
}