body { 
    margin: 0;
    background-image: url(test.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이를 100%로 설정 */
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#Content {
    width: 1619px;
    height: 991px;
    background-color: rgba(0, 0, 0, 0.65);
    margin: auto;
    border-radius: 15px;
    overflow: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 스크롤바 없애기 */
    scrollbar-width: none; /* 파이어폭스 스크롤바 없애기 */
}

#Content::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 스크롤바 없애기 */
}

#header {
    width: 1619px;
    height: 103px;
    border-radius: 15px 15px 0px 0px;
    background-color: #1A1B24;
    position: fixed;
}



#navbar {
    display: flex;
    padding: 23px 0;
    justify-content: space-between;
    margin: 0 auto;
}


.nav_menu {
    display: flex;
    height: 36px;
    width: 600px;
}


.navbar-brand {
    height: 47.7px;
    width: 236.5px;
    margin: 0 0 0 50px;
    background-image: url('./logo.svg')
}



#navbar-content {
    list-style-type: none;
    display: flex;
    height: 36px;
    margin: 20px 0 0 0;
    justify-content: center;
    padding: 0;
}

#navbar-content li {
    padding: 3px 0 0 40px;
    font-size: 15px;
    height: 20px;
    position: relative;
}

#navbar-content li a {
    text-decoration: none;
    color: white;

    transition: all 0.3s;
}

#navbar-content li a:hover {
    color: rgba(24, 160, 251, 1);
}

#dropdown_menu {
    display: none;
}

#navbar-content li:hover #dropdown_menu {
    display: block;
    position: absolute;
    left: 28%;
    top: 100%;
    background-color: #1A1B24;
}

#navbar-content li:hover #dropdown_menu ul {
    display: block;
    margin-top: 20px;
    margin: 10px;
}

#navbar-content li:hover #dropdown_menu ul li {
    width: 10px;
}

#dropdown_menu ul li a {
    position: absolute;
    right: 30px;
}


#nav-link {
    padding-bottom: 10px;
}

#nav_button {
    display: flex;
    margin-right: 29px;
    margin-top: 5px;
}

#button1 {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    margin-right: 28px;
    background-color: rgba(71, 72, 93, 1);
    border-color: rgba(71, 72, 93, 1);
    padding-top: 13px;
}

#button2 {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.65);
    border-color: rgba(71, 72, 93, 1);
    padding-top: 13px;
}

#user {
    color: white;
    font-size: 20px;
    margin-top: 12px;
    margin-right: 20px;
}