body { 
    margin: 0;
  }

#Content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1619px;
    height: 991px;
    background-color: rgb(0, 0, 0, 0.65);
    margin: auto;
    border-radius: 15px;
}


#header {
    width: 1619px;
    height: 103px;
    background-color: #1A1B24;
    border-radius: 15px 15px 0px 0px;
}



.navbar {
    padding: 23px 0;
    justify-content: space-between;
    margin: 0 auto;
}


.nav_menu {
    display: flex;
    height: 36px;
}


.navbar-brand {
    height: 47.7px;
    width: 236.5px;
    margin: 0 0 0 50px;
    background-image: url('./logo.svg')
}


.navbar-content {
    display: flex;
    height: 36px;
    margin: 20px 0 0 0;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    padding: 0 0 0 40px;
}

a {
    text-decoration: none;
    color: white;
}