body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이를 100%로 설정 */
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }




#main-container {
    width: 1180px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin: auto;
    margin-top: 142px;
}

#banner {
    width: 1180px;
    height: 363px;
    background-image: url(../main_banner_file/main_banner1.png);
}

#button-group {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}

#button-setting {
    width: 578px;
    height: 101px;
    font-size: 20px;
}

#sub-container {
    width: 1180px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#text-box1{
    width: 284px;
    height: 363.8px;
    color: white;
    margin-top: 80px;
    margin-left: 99px;
}

#text-box2{
    width: 284px;
    height: 363.8px;
    color: white;
    margin-top: 80px;
    margin-right: 99px;
}

#image {
    width: 680px;
    height: 440px;
    margin: 40px;
}

.main-banner1 {
    background-image: url(../main_banner_file/main_banner2.png);
}

.main-banner2 {
    background-image: url(../main_banner_file/main_banner3.png);
}



h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 23px;
    color: white;
}

p {
    margin-bottom: 60px;
    font-size: 18px;
}

#go-button {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    margin-top: 40px;
}

#game-container {
    height: 352px;
}

#content-box {
    display: flex;
    justify-content: space-between;
}

#game-box {
    width: 380px;
    height: 291px;
    background-color: rgba(217, 217, 217, 1);
}

#game-image {
    width: 380px;
    height: 187px;
}

#game-text {
    margin-top: 19px;
    margin-left: 31px;
}

h4 {
    font-size: 20px;
    font-weight: bold;

}

#game-text {
    display: flex;
}


.game-banner1 {
    background-image: url(../main_banner_file/game_banner1.png);
}

.game-banner2 {
    background-image: url(../main_banner_file/game_banner2.png);
}

.game-banner3 {
    background-image: url(../main_banner_file/game_banner3.png);
}




#game-ex {
    font-size: 12px;
    height: 30px;
    width: 230px;
}

#game-button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 58px;
}

#logo-text {
    font-size: 28.44px;
    font-weight: 700;
    color: white;
}

#footer {
    display: flex;
    justify-content: center;
    margin-top: 163px;
    margin-bottom: 43px;
}